# old files
.old/

# code
Rplots.pdf
.tags
*.pyc
__pycache__/

# refs
refs/pdf/
refs/v2.bib

# out (TEMP)
out/fig/api/
out/fig/dist/
out/tex/

# tex
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*-blx.bib
*.run.xml
*.synctex
*.synctex.gz

# windows
.DS_Store
