# old files
.old/

# code
Rplots.pdf
.tags
*.pyc
__pycache__/

# refs
refs/pdf/
refs/v2.bib

# out
out/fig/api/  # TEMP
out/fig/dist/ # TEMP

# tex
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*-blx.bib
*.run.xml
*.synctex
*.synctex.gz

# windows
.DS_Store
